<% provide :title, "About" %>

<h1>Egy oldal:</h1> 
<ul>
  <div class="done"><li>egy külsős lát olyan oldalakat, mint a home, contact, about + még ami közzé van téve</li></div>
  <div class="ip"><li>meghívásos alapon lehet regisztrálni</li></div>
  <div class="ip"><li>be lehet jelentkezni</li></div>
  <div class="ip"><li>egy user lehet normál user vagy super user, az utóbbi meghívhat más usereket, törölhet, stb.</li></div>
  <div class="plan"><li>system settings - user lista, üzenés, rendszer beállítások + su: meghívás, törlés</li></div>
  <div class="plan"><li>user settings: saját adatok, jelszó módosítás</li></div>
  <div class="plan"><li>contacts(?) - bonyolultabb telefonkönyv, profilokkal</li></div>
  <div class="plan"><li>notes - lehet jegyzetelni ezerrel</li></div>
  <div class="plan"><li>feladatkezelő - saját + csoportos</li></div>
  <div class="plan"><li>feladatkezelő - saját + csoportos</li></div>
  <div class="plan"><li>calendar</li></div>
  <div class="plan"><li>images</li></div>
  <div class="plan"><li>publications</li></div>
  <div class="plan"><li>budgets, cash management</li></div>
  <div class="plan"><li>investments</li></div>
  <div class="plan"><li>news - rss</li></div>
</ul>